Ex3/towelData.csv
Ex4/pollution_cleaneddata.csv
Ex5/sample_submission.csv
Ex5/train.csv
Ex5/test.csv
Ex3/towelData_wrangled.csv
Ex3/Ex3_Rissbacher.html
Ex4/__pycache__/possion_reg_ex_func.cpython-313.pyc
Ex4/__pycache__/possion_reg.cpython-313.pyc
klist  findstr git
